<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <ul class="nav nav-pills">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light btn-sm mx-2" href="{% url 'surveys:create_survey' %}">
            + Создать опрос
          </a>
        </li>
        <li>
          Пользователь: {{ user.username }}
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>